<header class="header">
  <div class="shell-lg">
     <div class="header__inner">
        <a href="/" class="logo logo-apply"> Home </a>
        <nav class="nav header__nav">
           <ul>
              <li> <a href="/">Home</a></li>
              <li class="has-dd">
                 <a href="/reviews/">Reviews</a>

              </li>
              <li class="has-dd">
                 <a href="/compare/">Comparisons</a>
              </li>
              <li class="has-dd">
                 <a href="/coupons/">Discounts</a>
              </li>
              <li class="has-dd">
                 <a href="/resources/">Resources</a>
              </li>
              <li class="has-dd">
                 <a href="/blog/">Blog</a>
              </li>
              <li id="lang-switcher">
                 <ul>
                    <li><span>English</span></li>
                 </ul>
              </li>
           </ul>
        </nav>
        <a href="#" class="hamburger"> <span class="hamburger__icon"> <span class="hamburger__lines"></span> </span> </a>
     </div>
  </div>
</header>
